{% extends "base.html" %}

{% load staticfiles %}

{% block title_add_on %}
- Budget
{% endblock %}

{% block nav_menu_items %}
<li><a href="#">Years</a>
  <ul>
    {% for year in nav_years %}
    <li><a href="{% url 'budget-year' year %}">{{ year }}</a></li>
    {% endfor %}
  </ul>
</li>
<li><a href="#">Months</a>
  <ul>
    {% for month in nav_months %}
    <li><a href="{% url 'budget-month' month.year month.month %}">{{ month.text }}</a></li>
    {% endfor %}
  </ul>
</li>
{% endblock %}

{% block startup_scripts %}
<script type="text/javascript" src="{% static 'budget/functions.js' %}"></script>
<script type="text/javascript" src="{% static 'budget/startup.js' %}"></script>
{% endblock %}
