<div class="category">
  <div class="overall" id="category-{{ category.id }}">
    <div class="category-name">
      <a href="{% url 'budget-edit-category' category.id %}">{{ category.name }}</a>
    </div>
    <div class="budget-bar">
      <div class="category-balance">{{ category.balance }}</div>
      <div class="remaining-balance">{{ category.remaining }}</div>
      <div class="bar"></div>
    </div>
    <div class="category-budget">{{ category.budget }}</div>
  </div>
  {% for subcategory in category.subcategories %}
  <div class="subcategory" subcategory-name="{{ subcategory.name }}" subcategory-id="{{ subcategory.id }}" id="subcategory-{{ subcategory.id }}">
    <div class="category-name">
      <a href="#">{{ subcategory.name }}</a>
    </div>
    <div class="budget-bar">
      <div class="category-balance">{{ subcategory.balance }}</div>
      <div class="remaining-balance">{{ subcategory.remaining }}</div>
      <div class="bar"></div>
    </div>
    <div class="editable edit_category_budget category-budget">{{ subcategory.budget }}</div>
  </div>
  {% endfor %}
</div>
