{% extends "budget/base.html" %}

{% load humanize %}
{% load budget_extras %}

{% block content %}

<div class="summary-stats">
  <div id="last_balanced">
    Last balanced on {{ last_balanced }} (<a href="{% url 'budget-mark-balanced' %}">mark as balanced</a>)
  </div>
  <div id="previous_balance">
    Previous balance: {{ previous_balance|intcomma|dollars }}
  </div>
  <div id="total_income">
    Total income: {{ total_income|intcomma|dollars }} (budgeted: {{ balances.budgeted_income|intcomma|dollars }})
  </div>
  <div id="total_mandatory">
    Total mandatory spending: {{ total_mandatory|intcomma|dollars }} (budgeted: {{ balances.budgeted_mandatory|intcomma|dollars }})
  </div>
  <div id="total_expenses">
    Total expenses: {{ total_expenses|intcomma|dollars }} (budgeted: {{ balances.budgeted_expense|intcomma|dollars }})
  </div>
  <div id="net_income">
    Net income: {{ net_income|intcomma|dollars }} (budgeted: {{ balances.budgeted_net_income|intcomma|dollars }})
  </div>
  <div id="total_investments">
    Total investments: {{ total_investments|intcomma|dollars }} (budgeted: {{ balances.budgeted_investments|intcomma|dollars }})
  </div>
  <div id="balance">
    Current actual balance: {{ current_balance|intcomma|dollars }} (pending: {{ pending_balance|intcomma|dollars }})
  </div>
  <div id="budgeted_balance">
    Expected end of month balance: {{ budgeted_balance|intcomma|dollars }}
  </div>
</div>
<br>
<div class="finalized-stats">
  {% if balances.finalized %}
  <div id="final_income">
    Finalized income: {{ balances.total_income|intcomma|dollars }}
  </div>
  <div id="final_mandatory">
    Finalized mandatory spending: {{ balances.total_mandatory|intcomma|dollars }}
  </div>
  <div id="final_expense">
    Finalized expense: {{ balances.total_expense|intcomma|dollars }}
  </div>
  <div id="final_balance">
    Finalized balance: {{ balances.final_balance|intcomma|dollars }}
  </div>
  {% endif %}
  <div id="budgeted_balance">
</div>
{% if can_finalize %}
<div id="finalize">
  <a href="{% url 'budget-finalize-month' year month %}">{{ finalize }} month</a>
</div>
{% endif %}

<div class="recurring-transactions">
  <select id="recurring-transaction-select">
    <option value="-1" selected="selected">Recurring transactions...</option>
    {% for t in recurring_transactions %}
    <option value="{{ t.id }}">{{ t.name }}</option>
    {% endfor %}
    <option value="add">Add new recurring transaction</option>
  </select>
</div>

<div id="accounts">
  <br>
  {% for account in accounts %}
  <hr>
    <div class="account-month" account-id="{{ account.id }}" account-name="{{ account.name }}">
    </div>
  <hr>
  {% endfor %}
  <br>
  <a href="{% url 'budget-add-account' %}">Add account</a>
</div>

<br>
<br>
<a href="{% url 'budget-copy-budget-forward' year month %}">Copy budget to next month</a>
<br>
<div id="categories">
  Income categories:
  <br>
  {% for category in income_categories %}
  {% include "budget/month_category.html" with expense_class="income" category=category %}
  {% endfor %}
  <br>
  Mandatory spending categories:
  <br>
  {% for category in mandatory_categories %}
  {% include "budget/month_category.html" with expense_class="mandatory" category=category %}
  {% endfor %}
  <br>
  Expense categories:
  <br>
  {% for category in expense_categories %}
  {% include "budget/month_category.html" with expense_class="expense" category=category %}
  {% endfor %}
  <br>
  Investment categories:
  <br>
  {% for category in investment_categories %}
  {% include "budget/month_category.html" with expense_class="investment" category=category %}
  {% endfor %}
  <br>
  <a href="{% url 'budget-add-category' %}">Add category</a>
  <br>
  <a href="{% url 'budget-add-subcategory' %}">Add subcategory</a>
</div>

<br>
<br>
<div id="locations">
  Locations:
  <table>
    {% for location in locations %}
    <tr>
      <td><a href="{% url 'budget-location-by-month' year month location.id %}">{{ location.name }}</a></td>
      <td>{{ location.total_spent }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div id="add_location">
  <a href="#">Add Location</a>
</div>
<div id="all-locations">
  <a href="{% url 'budget-all-locations' %}">All locations</a>
</div>
<div id="add_location_form">
  <form>
    <fieldset>
      <label for="Name">Name</label>
      <input type="text" name="Name" id="id_location_name" class="text ui-widget-content ui-corner-all">
    </fieldset>
  </form>
</div>

<script charset="utf-8" type="text/javascript">
  $.fn.month = function() {};
  $.fn.month.id = "{{ month_id }}";
  $.fn.json = function() {};
  $.fn.json.account_names = {{ account_names_json }};
  $.fn.json.location_names = {{ location_names_json }};
  $.fn.json.subcategory_names = {{ subcat_names_json }};
  $.fn.csrf = function() {};
  $.fn.csrf.csrf_token = "{{ csrf_token }}";
  {% for category in categories %}
      $("#category-{{ category.id }} .bar").css('width', "{{ category.budget_width }}%");
      {% if category.income %}
        {% if category.remaining > 0 %}
          $("#category-{{ category.id }} .bar").addClass('over-budget');
        {% endif %}
      {% else %}
        {% if category.remaining < 0 %}
          $("#category-{{ category.id }} .bar").addClass('over-budget');
        {% endif %}
      {% endif %}
    {% for subcategory in category.subcategories %}
      $("#subcategory-{{ subcategory.id }} .bar").css('width', "{{ subcategory.budget_width }}%");
      {% if category.income %}
        {% if subcategory.remaining > 0 %}
          $("#subcategory-{{ subcategory.id }} .bar").addClass('over-budget');
        {% endif %}
      {% else %}
        {% if subcategory.remaining < 0 %}
          $("#subcategory-{{ subcategory.id }} .bar").addClass('over-budget');
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</script>

{% endblock %}
