{% extends "budget/base.html" %}

{% load humanize %}

{% block title %}
<title>Yearly Budget - {{ year.year }}</title>
{% endblock %}

{% block content %}

<div id="year">
  <div class="income">
    <h3>Income</h3>
    <table class="month-headers">
      <!-- these cols are for a CSS rule -->
      <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
      <thead>
        <tr>
          <th></th><th></th>
          {% for month in months %}
          <th>{{ month }}</th>
          {% endfor %}
        </tr>
      </thead>
    </table>
    {% for cat in income_categories %}
    {% include "budget/year_category.html" with expense_class="income" cat=cat month_ids=month_ids %}
    {% endfor %}
    <table>
      <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
      <tbody>
        <tr class="income-total">
          <td></td><td>Total Income:</td>
          {% for month_balance in total_income %}
          <td>{{ month_balance|floatformat:"0"|intcomma }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mandatory">
    <h3>Mandatory Spending</h3>
    {% for cat in mandatory_categories %}
    {% include "budget/year_category.html" with expense_class="mandatory" cat=cat month_ids=month_ids %}
    {% endfor %}
    <table>
      <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
      <tbody>
        <tr class="mandatory-total">
          <td></td><td>Total Mandatory:</td>
          {% for month_balance in total_mandatory %}
          <td>{{ month_balance|floatformat:"0"|intcomma }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="expenses">
    <h3>Expenses</h3>
    {% for cat in expense_categories %}
    {% include "budget/year_category.html" with expense_class="income" cat=cat month_ids=month_ids %}
    {% endfor %}
    <table>
      <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
      <tbody>
        <tr class="expense-total">
          <td></td><td>Total Expenses:</td>
          {% for month_balance in total_expense %}
          <td>{{ month_balance|floatformat:"0"|intcomma }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="investments">
    <h3>Investments</h3>
    {% for cat in investment_categories %}
    {% include "budget/year_category.html" with expense_class="investment" cat=cat month_ids=month_ids %}
    {% endfor %}
    <table>
      <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
      <tbody>
        <tr class="investment-total">
          <td></td><td>Total Investments:</td>
          {% for month_balance in total_investments %}
          <td>{{ month_balance|floatformat:"0"|intcomma }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="summary">
    <h3>Summary</h3>
    <table>
      <col><col><col><col><col><col><col><col><col><col><col><col><col><col><col>
      <tbody class="overall">
        <tr class="net-income">
          <td></td><td>Net Income:</td>
          {% for month_balance in net_income %}
          <td>{{ month_balance|floatformat:"0"|intcomma }}</td>
          {% endfor %}
        </tr>
        <tr class="investments">
          <td></td><td>Investments:</td>
          {% for month_balance in total_investments %}
          <td>{{ month_balance|floatformat:"0"|intcomma }}</td>
          {% endfor %}
        </tr>
        <tr class="total-balance">
          <td></td><td>Total balance:</td>
          {% for month_balance in balances %}
          <td>{{ month_balance|floatformat:"0"|intcomma }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="inactive">
    Inactive subcategories:
    <ul>
      {% for subcategory in inactive_subcategories %}
      <li>{{ subcategory.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<script charset="utf-8" type="text/javascript">
  $.fn.year = function() {};
  $.fn.year.id = "{{ year.id }}";
  $.fn.csrf = function() {};
  $.fn.csrf.csrf_token = "{{ csrf_token }}";
</script>

{% endblock %}
