{% extends "food/base.html" %}

{% block content %}
<div class="food-items">
  Foods
  {{ form }}
  <div class="add-food-item">
    <a href="{% url 'food-add-food-item' %}">Add Food Item</a>
  </div>
  {% regroup food_items by get_item_type_display as item_type_list %}
  {% for item_type in item_type_list %}
  <div class="food-item-type">
    {{ item_type.grouper }}
    {% for food_item in item_type.list %}
    <div class="food-item">
      <a href="{% url 'food-edit-food-item' food_item.id %}">{{ food_item }}</a>
      <!-- This should be moved to a recipe page, I think.  It's too cluttered on the main list.
      <span class="ingredients">{{ food_item.get_ingredients_list }}</span>
      {% ifequal item_type.grouper "Main Dish" %}
      <div class="ratings">
        Ratings: (<a href="{% url 'food-add-food-item-rating-with-food' food_item.id %}">add one</a>)
        {% for rating in food_item.fooditemrating_set.all %}
        <div class="rating">
          <a href="{% url 'food-edit-food-item-rating' rating.id %}">{{ rating.get_person_display }}: {{ rating.rating }}</a>
        </div>
        {% endfor %}
      </div>
      {% endifequal %}
      -->
      <br>
    </div>
    {% endfor %}
    <br>
  </div>
  {% endfor %}
</div>
{% endblock %}
