{% load humanize %}
{% load budget_extras %}

<div id="income-projections">
  Yearly Income Projections
  <table>
    <tr>
      <td>Income:</td>
      <td>{{ yearly_income|intcomma|dollars }}</td>
    </tr>
    <tr>
      <td>Tax:</td>
      <td>{{ total_tax|intcomma|dollars }} (effective rate: {{ tax_rate }}%)</td>
      {% for tax_category in yearly_taxes %}
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ tax_category.category }}:</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ tax_category.amount|intcomma|dollars }} ({{ tax_category.rate }}%)</td>
      </tr>
      {% endfor %}
    </tr>
    <tr>
      <td>Tithing:</td>
      <td>{{ yearly_tithing|intcomma|dollars }}</td>
    </tr>
    <tr>
      <td>Expenses:</td>
      <td>{{ yearly_expenses|intcomma|dollars }}</td>
    </tr>
    <tr>
      <td>Net Income:</td>
      <td>{{ yearly_net_income|intcomma|dollars }}</td>
    </tr>
  </table>
</div>
