{% load humanize %}
{% load budget_extras %}

<div id="location-name">
  <a href="{% url 'scenarios-edit-location' location.id %}">{{ location }}</a>
</div>
Expected Expenses
<table id="location-expenses">
  <tr>
    <th>Category</th>
    <th>Monthly Expense</th>
    <th>(Our average so far)</th>
  </tr>
  {% for expense in location.expenses %}
  <tr id="location-expense">
    <td>{{ expense.category }}:</td>
    <td class="edit-location-expense" location="{{ location.id }}" category="{{ expense.category }}">{{ expense.amount }}</td>
    <td>({{ expense.average|floatformat:"0"|intcomma|dollars }})</td>
  </tr>
  {% endfor %}
  <tr>
    <td>Totals:</td>
    <td>{{ monthly_expenses }}</td>
    <td>({{ average_monthly|floatformat:"0"|intcomma|dollars }})</td>
  </tr>
</table>

<script charset="utf-8" type="text/javascript">
  $.fn.csrf = function() {};
  $.fn.csrf.csrf_token = "{{ csrf_token }}";
</script>
