{% extends "scenarios/base.html" %}

{% block content %}
<div class="scenarios">
  <div class="add-scenario">
    <a href="{% url 'scenarios-add-scenario' %}">Add Scenario</a>
  </div>
  {% for scenario in scenarios %}
  <div class="scenario">
    <a href="{% url 'scenarios-view-scenario' scenario.id %}">{{ scenario }}</a>
  </div>
  {% endfor %}
</div>
<br>
<div class="career-paths">
  <div class="add-career-path">
    <a href="{% url 'scenarios-add-career-path' %}">Add Career Path</a>
  </div>
  {% for career_path in career_paths %}
  <div class="career-path">
    <a href="{% url 'scenarios-edit-career-path' career_path.id %}">{{ career_path }}</a>
  </div>
  {% endfor %}
</div>
<br>
<div class="companies">
  <div class="add-company">
    <a href="{% url 'scenarios-add-company' %}">Add Company</a>
  </div>
  {% for company in companies %}
  <div class="company">
    <a href="{% url 'scenarios-edit-company' company.id %}">{{ company }}</a>
  </div>
  {% endfor %}
</div>
<br>
<div class="jobs">
  <div class="add-job">
    <a href="{% url 'scenarios-add-job' %}">Add Job</a>
  </div>
  {% for job in jobs %}
  <div class="job">
    <a href="{% url 'scenarios-edit-job' job.id %}">{{ job }}</a>
  </div>
  {% endfor %}
</div>
<br>
<div class="locations">
  <div class="add-location">
    <a href="{% url 'scenarios-add-location' %}">Add Location</a>
  </div>
  {% for location in locations %}
  <div class="locations">
    <a href="{% url 'scenarios-view-location' location.id %}">{{ location }}</a>
  </div>
  {% endfor %}
</div>
<br>
<div class="incomes">
  <div class="add-income">
    <a href="{% url 'scenarios-add-income' %}">Add Income</a>
  </div>
  {% for income in incomes %}
  <div class="incomes">
    <a href="{% url 'scenarios-edit-income' income.id %}">{{ income }}</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
